[Unit]
Description=lnd Docker Container
Documentation=https://github.com/LN-Zap/docker-lnd
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=lnd"
Environment="DATA_VOL=lnd-data"
Environment="IMG=lnzap/lnd:dev"
Environment="PORT=9735:9735/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-lnd.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/lnd --name ${NAME} -p ${PORT} ${IMG} lnd_oneshot $ARGS

[Install]
WantedBy=multi-user.target
